header, footer {
    background: #2A2F4E;
}
header {
    margin: 0;
}
main h1 {
    margin-bottom: 5px;
}
sup {
    padding: 3px;
    background-color: orange;
    color: white;
}
body {
    margin: 0;
}
main {
    margin-left: 3em;
    width: 80%;
}
footer {
	margin-top: 1em;
	}
footer p {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 30px;
    font-size: .8em;
    color: white;
    margin: 0 auto;
}
footer a {
    color: white;
    margin: 0 auto;
}
